* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, #main-form {
    display: flex;
    width: 100%;
}

img {
    width: 37%;
    height: auto;
}

#header {
    width: 80%;
    margin: 100px auto;
}

h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}

#header > h1:nth-child(3) {
    margin: 50px auto;
}

form {
    border: 2px solid red;
    margin-top: 100px;
}