* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body, #main-form {
    display: flex;
    width: 100%;
}

img {
    width: 37%;
    height: auto;
}

#header {
    width: 100%;
    margin: 100px auto;
}

h1 {
    font-size: 25px;
    padding: 0 100px;
}

#header > h1:nth-child(3) {
    margin: 50px auto;
}

/* Form */
#formContent {
    margin-top: 100px;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
}

#formContent > h2 {
    margin: 20px;
}

form {
    display: flex;
    border: 2px solid red;
}

form > * {
    margin: 20px;
}